* {
  margin: 0;
  top: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow-x: none;
  .information, .btn {
    display: inline-block;
  }
  .points {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 40rem;
    width: 40rem;
    .point {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      p {
        pointer-events: none;
      }
    }
  }
}

.hidden {
  display: none;
}

.noClick {
  pointer-events: none;
}